& .chat-message {
  .theme-dark & {
    background: #0b0a13e6;
    color: var(--color-textLight);
    --color-abilities: #2a83b9;
    --color-chatSkill: #2a83b9;
    --color-chatAttack: #db5305;
    --color-chatDamages: #cb0909;
    --color-chatHeal: #3fa13f;
    --color-chatRest: #93a13f;
    --color-chatSave: #222;
    --color-chatItem: #222;
    --color-chatShadow: #7ce6ef;
    span,
    label {
      color: var(--color-textLight);
    }
  }
  .theme-light & {
    background-color: var(--color-light-3);
    color: #222;
    --color-abilities: #084f7b;
    --color-chatSkill: #084f7b;
    --color-chatAttack: #702900;
    --color-chatDamages: darkred;
    --color-chatHeal: #2c532c;
    --color-chatRest: #597928;
    --color-chatSave: #222;
    --color-chatItem: #222;
    --color-chatShadow: #7ce6ef;
    span,
    label {
      color: #222;
    }
  }
  &.whisper {
    .theme-dark & {
      background: #210000e8;
    }
    .theme-light & {
      background: #b5a2a2;
    }
  }
  &.blind {
    .theme-dark & {
      border: 3px solid #990000;
    }
    .theme-light & {
      border: 3px solid var(--color-blind-border);
    }
  }
  .message-header {
    display: grid;
    .theme-dark & {
      color: var(--color-textLight);
    }
    .theme-light & {
      color: #222;
    }

    .message-metadata {
      margin-top: -53px;
    }

    img {
      max-width: 50px;
      max-height: 50px;
      margin-right: 4px;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      display: inline;
      text-wrap: auto;
    }
    .message-sender {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .message-content {
    .card-content {
      font-size: 1rem;
      /*p {
        margin-bottom: -15px;
        border: 2px solid var(--color-chatSkill);
        border-radius: 15px;
        background-color: #084f7b66;
        font-weight: bold;
        padding: 1px 0 0px 10px;
      }*/
      section.targets {
        .target-list {
          list-style-type: none;
          margin: 0 0 0 10px;
          li {
            display: flex;
            align-items: center;
          }
          .target-actor-img {
            width: fit-content;
            height: 35px;
            margin-right: 10px;
          }
        }
      }
      .bloc-result {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        align-items: center;
      }
    }
    strong {
      font-size: var(--font-size-15);
    }
    label {
      font-size: var(--font-size-14);
    }
    .result {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .total-result,
    .diff-result,
    .vs {
      font-size: var(--font-size-32);
      font-weight: bold;
      text-align: center;
      label {
        font-size: var(--font-size-15);
        vertical-align: middle;
      }
    }
    .dice-total {
      margin-bottom: -10px;
    }

    .vs {
      flex-basis: 40px;
      align-self: center;
    }
    .result-sentence {
      text-align: center;
      margin: -5px 0px -5px 0px;
      .fas {
        font-size: var(--font-size-28);
      }
      .show-result {
        padding: 3px 0;
      }
      span {
        text-align: center;
        font-size: var(--font-size-14);

        .theme-dark & {
          color: #0b0a13e6;
          padding: 0 15px;
          border-radius: 15px;
          font-weight: bold;
        }
      }

      .success {
        color: green;
      }
      .failure {
        color: #c90000;
      }
    }

    button {
      justify-self: center;
      font-weight: bold;
      .theme-dark & {
        color: var(--color-light-3);
      }
      .theme-light & {
        color: #222;
      }
    }
    .type-card {
      label {
        font-size: 1.5rem;
        font-weight: bold;
        font-variant: small-caps;
      }
    }

    .action-name {
      font-size: 1.2rem;
      font-style: italic;
      font-weight: bold;
      margin-left: 5px;
      padding-right: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .lucky-points {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      font-size: var(--font-size-20);
    }
    .message-card {
      p {
        font-size: var(--font-size-15);
      }
    }
    .button-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-bottom: 3px;
      button {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    h4.dice-total {
      margin: 0;
    }
    .dice-roll {
      margin-top: 8px;
      font-weight: bold;
    }
  }
  .dice-formula {
    margin-bottom: 2px;
    font-size: var(--font-size-14);
  }
}
