.co.chat-card.roll-card.save-card {
  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .action-name {
      font-size: 18px;
      font-style: italic;
    }
  }
  .card-content {
    section.result {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  }
}
